@import "tailwindcss";

@theme {
  --color-primary: #D0311E;
  --color-secondary: #F8EBAB;
  --color-text: #8F0007;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
